<div class="notifications" (abpInit)="getNotificationsFromUser()">
    <h5 style="color: white;">Notificaciones: </h5>

    <ngx-datatable
    *ngIf="notifications"
    class="material"
    [rows]="notifications"
    [columnMode]="'force'"
    [headerHeight]="20"
    [footerHeight]="20"
    [rowClass]="getRowClass"
    [rowWidth]="20"
    [rowHeight]="'auto'"
    style="color: black;">
    
    <ngx-datatable-column name="Título" prop="title"></ngx-datatable-column>
    <ngx-datatable-column name="Descripción" prop="content"></ngx-datatable-column>
    <ngx-datatable-column name="Leída" >
      <ng-template ngx-datatable-cell-template let-row="row">
        <button (click)="toggleRead(row)" class="btn">
          <i class="fa fa-check-circle" aria-hidden="true" *ngIf="row.read===true"></i>
          <i class="fa fa-circle" aria-hidden="true" *ngIf="row.read===false"></i>
        </button>
      </ng-template>
    </ngx-datatable-column>

    </ngx-datatable>
  </div>
