<ul (abpInit)="getProfilePicture()" class="navbar-nav">
    <!-- BUSQUEDA -->


    <!-- PERFIL -->
    <li class="nav-item d-flex align-items-center">
      <ng-template #loginBtn>
        <a role="button" class="nav-link pointer" (click)="navigateToLogin()"
          >{{ 'AbpAccount::Login' | abpLocalization }}</a
        >
      </ng-template>
      <div class="notifications" *ngIf="(currentUser$ | async)?.isAuthenticated" >
        <i class="fa fa-bell" aria-hidden="true" style="color:white" routerLink="/my-notifications" ></i>
      </div>
      <div
        *ngIf="(currentUser$ | async)?.isAuthenticated; else loginBtn"
        ngbDropdown
        class="dropdown"
        #currentUserDropdown="ngbDropdown"
        display="static"
        
      >
        <a
          ngbDropdownToggle
          class="nav-link"
          href="javascript:void(0)"
          role="button"
          id="dropdownMenuLink"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
        >
        <img [src]="userProfilePicture" alt="profile-picture" width="30px">
          <small *ngIf="(selectedTenant$ | async)?.name as tenantName"
            ><i>{{ tenantName }}</i>\</small
          >
        
        </a>
        <div
          class="dropdown-menu dropdown-menu-right border-0 shadow-sm"
          aria-labelledby="dropdownMenuLink"
          [class.d-block]="smallScreen && currentUserDropdown.isOpen()"
        >
          <b style="margin-left: 10%;">{{ (currentUser$ | async)?.userName }}</b>
          <a class="dropdown-item pointer" (click)="navigateToManageProfile()"
            ><i class="fa fa-cog mr-1 p-1"></i>{{ 'AbpAccount::MyAccount' |
            abpLocalization }}</a
          >
          <a class="dropdown-item" href="javascript:void(0)" (click)="logout()"
            ><i class="fa fa-power-off mr-1 p-1"></i>{{ 'AbpUi::Logout' |
            abpLocalization }}</a
          >
          <!--LENGUAJES-->
    <li class="nav-item d-flex align-items-center ">
        <div
          *ngIf="(dropdownLanguages$ | async)?.length > 0"
          class="dropdown"
          ngbDropdown
          #languageDropdown="ngbDropdown"
          display="static"
        >
          <a
            ngbDropdownToggle
            class="nav-link"
            href="javascript:void(0)"
            role="button"
            id="dropdownMenuLink"
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false"
            ngClass="language"
          >
            {{ defaultLanguage$ | async }}
          </a>
          <div
            class="dropdown-menu dropdown-menu-right border-0 shadow-sm"
            aria-labelledby="dropdownMenuLink"
            [class.d-block]="smallScreen && languageDropdown.isOpen()"
          >
            <a
              *ngFor="let lang of dropdownLanguages$ | async"
              href="javascript:void(0)"
              class="dropdown-item"
              (click)="onChangeLang(lang.cultureName)"
              >{{ lang?.displayName }}</a
            >
          </div>
        </div>
      </li>
        </div>
      </div>
    </li>
  </ul>