<div class="home">
  <div>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link
        rel="stylesheet"
        href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"
        />
      
        <div>
          @if(!hasLoggedIn){
          <h3 class="text-focus-in">Bienvenido</h3>
        <div class="scale-up-bl">
         <p>Somos JempaTV, nos dedicamos a brindar un servicio de seguimiento para tus series y peliculas favoritas.
          Aqui podras suscribirte y acceder a toda la informacion sobre</p> 

        </div>


          <p class="scale-up-bl">
            Iniciar sesion o registrate para disfrutar tus series y peliculas favoritas
          </p>
          <a (click)="login()" class="px-4 btn btn-primary mb-4" role="button">
            <i class="fa fa-sign-in"></i>
            {{ 'AbpAccount::Login' | abpLocalization }}
          </a>
          }

          @if(hasLoggedIn){
           


        <div (abpinit)="getSeriesList()">
          
          <div class="swiper-container" id="swiper-container">
            <div class="swiper-wrapper" id="swiper-wrapper">
              <div class="swiper-slide" id="swiper-slide" *ngFor="let serie of series">
                <h1>{{ serie.title }}</h1>
                <img [src]="serie.poster" [alt]="'Poster de ' + serie.title">
              </div>
            </div>
          </div>
        
            <button routerLink="/series">Buscar serie</button>

            <button routerLink="/watchlist">Mi Watchlist</button>
        </div>
             
      }
      </div>
      </div>
     