<form [formGroup]="formulario" (ngSubmit)="onSubmit()">
    <div>
      <label for="valor">Valor:</label>
      <input id="valor" type="number" formControlName="valor">
      <div *ngIf="formulario.get('valor').invalid && formulario.get('valor').touched">
        El valor es requerido.
      </div>
    </div>
  
    <div>
      <label for="">comentario:</label>
      <input id="comentario" type="text" formControlName="comentario">
      <div *ngIf="formulario.get('comentario').invalid && formulario.get('comentario').touched">
        Introduce un comentario válido.
      </div>
    </div>
  
   
  
    <button type="submit" [disabled]="formulario.invalid">Enviar</button>
  </form>
